:root {
    --red: #DF3629;
    --orange: #e3854f;
    --yellow: #f5f177;
    --green: #35aa79;
    --blue: #4BBBD2;
    --purple: #8E8AF0;
    --indigo: #182534;
    --brown: #937c67;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vmin;
    height: 100vh;
}

#board {
    display: grid;
    grid-template-rows: 1fr repeat(10, 1fr) 2fr;
    grid-template-columns: 5fr;
    border: 1vmin solid blue;
}

.guess {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 0.25vmin solid var(--brown);
    grid-template-areas: 
    "c c c c f";
}
#secret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 0.5vmin solid hotpink;
}

#bank {
    height: 14vmin;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#bank > div, #secret > div { 
    border-radius: 50%;
    margin: 0.5vmin;
}

.f {
    border-left: 1px solid black;
    grid-area: "f";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(138, 145, 104);
}
.dropzone {
    grid-area: "c";
    border: 0.3vmin solid gray;
    border-radius: 50%;
    margin: 1vmin;
}
.f > div {
    width: 1.5em;
    border: 0.1vmin solid;
    background-color:rgb(168, 169, 162);
    margin: 0.5vmin;
    border-radius: 50%;
}
#red {
    background-color: var(--red);
}
#orange {
    background-color: var(--orange);
}
#yellow {
    background-color: var(--yellow);
}
#green {
    background-color: var(--green);
}
#blue {
    background-color: var(--blue);
}
#purple {
    background-color: var(--purple);
}
#indigo {
    background-color: var(--indigo);
}
#brown {
    background-color: var(--brown);
}
#secret > div {
    border: 0.5vmin dashed blue;
}
h1 {
    margin: 0;
}
h2 {
    padding: 3vmin;
    margin: 0;
}
