:root {
    --red: #dc736c;
    --orange: #dcab8f;
    --yellow: #ddcd71;
    --green: #7eb9a1;
    --blue: #84c3cf;
    --purple: #a19fc5;
    --indigo: #506884;
    --brown: #a28971;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    margin: 0;
    font-family: 'Bungee Shade', cursive;
}

#board {
    display: grid;
    grid-template-rows: 1fr repeat(10, 1fr) 2fr;
    grid-template-columns: 5fr;
    border: 1vmin solid rgb(132, 132, 186);
    height: 60%;
}

.guess {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 0.25vmin solid #D3DED5;
    grid-template-areas: 
    "c c c c f";
}
#secret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border: 0.5vmin solid rgb(208, 156, 182);
}

#bank {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#bank > div, #secret > div { 
    border-radius: 50%;
    margin: 0.5vmin;
}

.f {
    border-left: 1px solid rgb(195, 150, 150);
    grid-area: "f";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(207, 215, 217);
}
.dropzone {
    grid-area: "c";
    border: 0.3vmin solid gray;
    border-radius: 50%;
    margin: 1vmin;
}
.f > div {
    height: 1vmin;
    width: 1vmin;
    border: 0.1vmin solid;
    background-color:#a1a8aa87;
    margin: 0.5vmin;
    border-radius: 50%;
}
#red {
    background-color: var(--red);
}
#orange {
    background-color: var(--orange);
}
#yellow {
    background-color: var(--yellow);
}
#green {
    background-color: var(--green);
}
#blue {
    background-color: var(--blue);
}
#purple {
    background-color: var(--purple);
}
#indigo {
    background-color: var(--indigo);
}
#brown {
    background-color: var(--brown);
}
#secret > div {
    display: flex;
    border: 0.1vmin dashed rgb(191, 191, 230);
    justify-content: center;
    align-items: center;
}
h1 {
    padding: 2% 100%;
    background-color: #a19fc5;
    font-size: 50px;
}
h2 {
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    padding: 1vmin;
    margin: 0;
}
footer{
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 25%;
    margin-bottom: 25%;
    margin-top: 1%;
}
button {
    justify-content: center;
    align-items: center;
    padding: 10%;
    background-color: lavender;
    border-radius: 50%;
}